[submodule "util/binutils-gdb"]
	path = util/binutils-gdb
	url = ../binutils-gdb.git
[submodule "util/gcc"]
	path = util/gcc
	url = ../gcc
[submodule "kuroko"]
	path = kuroko
	url = ../../kuroko-lang/kuroko
