[submodule "util/binutils-gdb"]
	path = util/binutils-gdb
	url = git@github.com:toaruos/binutils-gdb.git
[submodule "util/gcc"]
	path = util/gcc
	url = git@github.com:toaruos/gcc
[submodule "kuroko"]
	path = kuroko
	url = git@github.com:kuroko-lang/kuroko
